body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
    
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: aliceblue;
}
nav ul li a {
    color: #ccc;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*about*/
/* Add or modify styles as needed */

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.about-section {
    padding: 20px;
    color: #333;
}

.about-section img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.map-placeholder {
    /* Add styling for the map placeholder */
    border: 1px solid #ccc;
    height: 300px; /* Adjust the height as needed */
    text-align: center;
    line-height: 300px; /* Center the text vertically */
}

/* services style */
/* Add or modify styles as needed */

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.services-section {
    padding: 20px;
    color: #333;
}

.department,
.area {
    margin-bottom: 30px;
}

.department img,
.area img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/*contact*/
/* Add or modify styles as needed */

form {
    display: grid;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

form label {
    display: block;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/*doctors*/
/* Add or modify styles as needed */

section.doctor {
    text-align: center;
    padding: 20px;
}

section.doctor img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

